<mat-toolbar style="background-color: rgb(35, 22, 105);height: 90px;">
  <div class="left-content">
      <img src="assets\Images\white.png" alt="FALCON">
      <div class="title">
        <span class="logo_name">FALCON</span>
        <span class="slogan">Watch your healthcare journey take flight.</span>
      </div>
  </div>
  <div class="spacer"></div>

  <div class="buttons">
    <a mat-button>About</a>
    <a mat-button>FAQs</a>
    <a mat-button>View Glossary</a>
    <a mat-button>View Medical Plans</a>
  </div>
</mat-toolbar>
